<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
        <title><%- title %></title>
        <!-- Stylesheets from your assets folder are included here -->
        <%- assets.css() %>
    </head>

    <body>
        <%- body %>

        <!-- Templates from your view path are included here -->
        <%- assets.templateLibrary() %>
        <!-- Javascripts from your assets folder are included here -->
        <%- assets.js() %>
    </body>
</html>
